<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pinyon</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <style>
        body { padding-top: 70px;}
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Pinyon</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <h1>Welcome to Pinyon!</h1>

        <h2>Current Tool Chains</h2>
        <ul>
            {% for tc in toolchains %}
                <li><b><a href="toolchain/{{ tc.name }}/view">{{ tc.name }}</a></b>
                    {{ tc.description }}</li>
            {%  endfor %}
        </ul>
    </div>
</body>
</html>