<!DOCTYPE html>
<html lang="en">
<head>
    <title>pinyon</title>
	<link rel="stylesheet" href="static/css/bootstrap.min.css"/>
</head>
<body>
    <h1>Welcome to Pinyon!</h1>

    <h2>Current Tool Chains</h2>
    <ul>
        {% for name in names %}
            <li><a href="toolchain/{{ name }}/view">{{ name }}</a></li>
        {%  endfor %}
    </ul>
</body>
</html>