<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tool: {{ tool.name }}</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.1/js/tether.min.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <script
			  src="https://code.jquery.com/jquery-3.1.0.min.js"
			  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
			  crossorigin="anonymous"></script>

    <!-- Document initialization stuff -->
    <script>
        $(document).ready(function() {
            $(function () {$('[data-toggle="tooltip"]').tooltip()});
        });
    </script>
    <style>
        body { padding-top: 70px;}
    </style>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Pinyon</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/toolchain/{{ tool.toolchain.name }}/view">{{ tool.toolchain.name }}</a></li>
                    <li><a href="#">{{ tool.name }}</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <h1>Tool: {{ tool.name }}</h1>

        <p>Part of the <a href="/toolchain/{{ tool.toolchain.name }}/view">{{ tool.toolchain.name }}</a> toolchain</p>

        <p id="run-buttons">
            <a class="btn btn-primary" role="button" href="/tool/{{ name }}/run"
               data-toggle="tooltip" data-placement="top" title="Run this tool, clear results of next steps">
                Run Tool
            </a>
            <a class="btn btn-primary" role="button" href="/tool/{{ name }}/run?recursive=True"
                data-toggle="tooltip" data-placement="top" title="Run this tool, re-run next steps">
                Run All Tools
            </a>
        </p>

        <p>
            <table class="table">
                <tr><th>Name</th><td>{{ tool.name }}</td></tr>
                <tr><th>Type</th><td>{{ tool.__class__.__name__ }}</td></tr>
                <tr><th>Description</th><td>{{ tool.description }}</td></tr>
                <tr><th>Last Run</th><td>{{ tool.last_run }}</td></tr>
                {% if tool.previous_step %}
                    <tr><th>Previous Step</th><td><a href="/tool/{{ tool.previous_step.id }}/view">{{ tool.previous_step.name }}</a></td></tr>
                {% endif %}
                <tr><th>Next Step(s)</th><td>
                    {% for nt in tool.get_next_steps() %}
                        <a href="/tool/{{ nt.id }}/view">{{ nt.name }}</a>
                    {% endfor %}
                </td></tr>
            </table>
        </p>

        <h2>Settings</h2>

        <p>
            <table class="table">
                <thead>
                    <tr><th>Heading</th><th>Value</th></tr>
                </thead>
                <tbody>
                    {% for s,v in tool.get_settings().iteritems() %}
                        <tr><th>{{ s }}</th><td>{{ v | string }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-primary" role="button" href="/tool/{{ name }}/edit">Edit Settings</a>
        </p>

        {% if tool.notes %}
            <h2>Notes</h2>

            <ul>
                {% for note in tool.notes %}
                    <li>{{ note.note }} - {{ note.author }}, {{ note.edited }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if is_jupyter %}
            <h2>Jupyter Notebook</h2>

            <p>This module uses a Jupyter notebook to perform calculations. Download options:</p>

            <ul>
                <li><a href="/tool/{{ tool.id }}/jupyter">View in HTML</a></li>
                <li><a href="/tool/{{ tool.id }}/jupyter?format=file">Download ipynb</a></li>
            </ul>

        {% endif %}

        {% if is_decision %}
            <h2>Decisions</h2>
            <p>List of the decisions that have been recorded in this tool, and the reasons behind them</p>

            <table class="table">
                <thead>
                    <tr><th>Entry</th><th>Column</th><th>Original Value</th><th>New Value</th><th>Support</th></tr>
                </thead>
                <tbody>
                {% for (entry, column), decision in tool.get_decisions().iteritems() %}
                    <tr><td>{{ entry }}</td><td>{{ column }}</td><td>{{ decision[0] }}</td><td>{{ decision[1] }}</td><td>{{ decision[2]}}</td></tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-primary" role="button" href="/tool/{{ name }}/decision">Update Decisions</a>
        {% endif %}

        <h2>Outputs</h2>
        {% if tool.last_run %}


            <p>Outputs from the tool. Download links provide the data in Python pickle format</p>

            <ul>
                {% for output in tool.run() %}
                    <li><a href="/tool/{{ name }}/output/{{ output }}">{{ output }}</a></li>
                {% endfor %}
            </ul>

            <h2>Data</h2>

            <form action="/tool/{{ name }}/data" id="download-form">
                Download as
                <select name = "format" id="download-form_format-selector">
                    {% for opt in format_options %}
                        <option value="{{ opt }}">{{ opt }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Download</button>
            </form>

            {{ tool.get_data().to_html() | safe }}
        {% else %}
            <p><strong>Not yet run.</strong></p>
        {% endif %}
    </div>

</body>
</html>