<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ name }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <style>
        body { padding-top: 70px;}
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Pinyon</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/toolchain/{{ name }}/view">{{ name }}</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">

    <h1>{{ name }}</h1>

    <p>{{ toolchain.description }}</p>

    <p>
        <a class="btn btn-primary" role="button" href="/toolchain/{{ name }}/run"
           data-toggle="tooltip" data-placement="top" title="Re-run the entire toolchain. Will also run any other chains
                that use the same extractor">
            Run Tool
        </a>
    </p>

    <p>
    <table class="table">
        <tr>
            <th>Name</th>
            <td>{{ toolchain.name }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ toolchain.__class__.__name__ }}</td>
        </tr>
    </table>
    </p>

    <h2>Extractor</h2>

    <p>Tool used to get raw data from an information source.</p>

    <p>
        <a href="/extractor/{{ toolchain.extractor.name }}/view">{{ toolchain.extractor.name }}</a>:
        {{ toolchain.extractor.description | safe }}
    </p>

    <h2>Workflow</h2>

    <p>List of tools currently used to transform and analyze the data</p>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Last Run</th>
        </tr>
        </thead>
        <tbody>
        {% for tool in toolchain.get_all_tools() %}
            <tr>
                <td><a href="/tool/{{ tool.id }}/view">{{ tool.name }}</td>
                <td>{{ tool.__class__.__name__ }}</td>
                <td>{{ tool.last_run }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Network View</h3>
    <iframe src="/toolchain/{{ name }}/network" width="600" height="400"/>
</div>
</body>
</html>