<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ tool.name }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>

    <!--- Stuff to add -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css"/>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

    <!-- Bokeh includes -->
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.css" type="text/css" />
	<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.js"></script>

    <!-- Special-purpose classes -->
    <style>
        .editedCell {
            background-color: #2db300;
        }
        .currentEntry {
            background-color: #6a6a6a;
        }
    </style>

    <!-- Render the table -->
    <script>
        $(document).ready(function() {
            // Give orders the "submit" button
            $("#submit-button").click(function() {
                // Create something to store the results
                var results = {};

                // Look for entries that have been changed
                $(".entryRow").each(function(index) {
                    // Get the form input and decision cells
                    var formCell = $(this).find('.entryInput').first();
                    var decisionCell = $(this).find('.entryDecision').first();

                    // Check if the decision has changed
                    var key = JSON.stringify(["{{ entry_key }}", $(this).attr('name')]);
                    if (formCell.attr('original-value') !== formCell.val()) {
                        results[key] = [formCell.attr('original-value'), formCell.val(), decisionCell.val()];
                    } else {
                        results[key] = [];
                    }
                });

                // Send something
                $("#output-field").val(JSON.stringify(results));
                $("#output-form").submit();
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>Phase Fraction Tool for {{ entry_key }}</h1>
        <p>Use the highlight tool to either mark regions to exclude from analysis (Crop) or designate as the second
            phase (Mark). You can remove mistakes by switching "Add" to "Remove"</p>

        <p>
            {{ div }}
            {{ scripts }}
        </p>

        <form id="output-form" action="/tool/{{ tool.id }}/decision" method="POST">
            <input type="hidden" name="output-field" id="output-field"/>
        </form>

    </div>
</body>
</html>